@media screen and (max-width: 1095px){
    .right-side{
        width: 100% !important;
    }
}

@media screen and (min-width: 1096px){
    .right-side{
        margin-top: 40px !important;
    }
    .right-side-false{
        margin-top: 40px !important;
    }
}