@media screen and (max-width: 450px) and (min-width: 0px){
    .single-post{
        max-width: 100%;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .project-title{
        height: 110px;
        background-color: #0e1724;
    }
    .project-title h1{
        color: #f7f7f7;
        margin: 35px 0px 0px 0px;
        font-size: 24px;
        line-height: 1.33;
    }
    .project-details-area{
        margin-bottom: 16px;
        font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .project-details-title-area{
        padding: 10px;
        border-bottom: 1px solid lightcoral;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        background: #fff;
    }
    .project-details-title-area h3{
        font-size: 20px;
        font-weight: 700;
    }
    .bidding-price{
        margin: 0;
    }
    .bidding{
        color: #4d525b;
        font-weight: 700;
        font-size: 11px;
        line-height: 1.45;
        text-align: right;
    
    }
    .project-details-description-area{
        padding: 10px;
    }
    .project-details-description-area p{
        text-align: justify;
    }
    
    .skill-area span{
        border: 1px solid;
        cursor: pointer;
        margin: 5px 5px 5px 0px;
    }
}

@media screen and (max-width: 767px) and (min-width: 451px){
    .details-post{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .single-post{
        max-width: 100%;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .project-title{
        height: 110px;
        background-color: #0e1724;
    }
    
    .project-title h1{
        color: #f7f7f7;
        margin: 35px 0px 0px 0px;
        font-size: 24px;
        line-height: 1.33;
    }
    .project-details-area{
        margin-bottom: 16px;
        font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .project-details-title{
        margin-top: 7px;
    }
    
}

@media screen and (min-width: 768px){
    .details-post{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .single-post{
        max-width: 100%;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .project-title{
        height: 110px;
        background-color: #0e1724;
    }
    .project-title h1{
        color: #f7f7f7;
        margin: 35px 0px 0px 0px;
        font-size: 24px;
        line-height: 1.33;
    }
    .project-details-area{
        margin-bottom: 16px;
        font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .project-details-title-area{
        padding: 10px;
        border-bottom: 1px solid lightcoral;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        background: #fff;
    }
    .project-details-title-area h3{
        font-size: 20px;
        font-weight: 700;
    }
    .project-details-title{
        margin-top: 7px;
    }
    .details-left{
        width: 60% !important;
    }
    .details-right{
        width: 40% !important;
        text-align-last: end;
    }
    .bidding-price{
        margin: 0;
    }
    .bidding{
        color: #4d525b;
        font-weight: 700;
        font-size: 11px;
        line-height: 1.45;
        text-align: right;
    
    }
    .project-details-description-area{
        padding: 10px;
    }
    .project-details-description-area p{
        text-align: justify;
    }
    
    .skill-area span{
        border: 1px solid;
        cursor: pointer;
        margin: 5px 5px 5px 0px;
    }
}