.education-block{
    background: white;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    margin-top: 20px;
}

.education-image-area p{
    margin: 0px !important;
}
@media screen and (max-width: 338px) and (min-width: 0px){
    .education{
        width: 100% !important;
    }
    .add-education{
        display: none;
    }
}

@media screen and (min-width: 339px){
    .education{
        width: 50% !important;
    }
    .add-education{
        width: 50% !important;
        display: block;
    }
}