.add-location{
    width: 75% !important;
}
.clear-location{
    background: #139ff0;
    border-color: #139ff0;
    color: #F7F7F7;
    text-shadow: 0 -1px transparent;
    border: none;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
}