.our-client-logo-area{
    padding-top: 32px;
    padding-bottom: 32px;
}
.our-client-logo{
    display: block;
}
.our-client-logo img{
    height: 36px !important;
}
.our-client-logo-area-hr{
    margin-top: 36px !important;
    margin-bottom: 96px !important;
}
.slider{
    display: none;
}
@media screen and (max-width: 450px) and (min-width: 0px){
    .our-client-logo-area{
        padding-top: 32px;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .our-client-logo img{
        height: 36px !important;
        width: 50% !important;
    }
    .our-client-logo-area-hr{
        margin-top: 36px !important;
        margin-bottom: 30px !important;
    }
    .slider{
        display: block;
    }
    .our-client-logo{
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 451px){
    .our-client-logo-area{
        padding-top: 32px;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .our-client-logo img{
        height: 36px !important;
        width: 50% !important;
    }
    .our-client-logo-area-hr{
        margin-top: 36px !important;
        margin-bottom: 30px !important;
    }
    .slider{
        display: block;
    }
    .our-client-logo{
        display: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px){
    .our-client-logo-area{
        padding-top: 32px;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .our-client-logo img{
        height: 36px !important;
        width: 50% !important;
    }
    .our-client-logo-area-hr{
        margin-top: 36px !important;
        margin-bottom: 30px !important;
    }
    .slider{
        display: block;
    }
    .our-client-logo{
        display: none;
    }
}