.publication-block{
    background: white;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    margin-top: 20px;
}

.add-button{
    background: #139ff0;
    border-color: #139ff0;
    color: #F7F7F7;
    text-shadow: 0 -1px transparent;
    border: none;
    padding: 5px 15px 5px 15px;
    /* margin-top: 15px; */
    font-weight: 500;
}

@media screen and (max-width: 338px) and (min-width: 0px){
    .publication{
        width: 100% !important;
    }
    .add-publication{
        display: none;
    }
}

@media screen and (min-width: 339px){
    .publication{
        width: 50% !important;
    }
    .add-publication{
        width: 50% !important;
        display: block;
    }
}