.add-language span{
    margin-left: 5px;
    cursor: pointer;
}
.project-area-contest ul{
    padding-left: 0px !important;
}
.project-area-contest ul li{
    line-height: 2;
    padding: 0px 0px 0px 10px;
    font-weight: 400;
}
ul li{
    list-style-type: none;
}
.project-area-contest ul li:hover{
    cursor: pointer;
    background-color: #F0F0F0;
}
#project{
    background-color: #F0F0F0;
    border-bottom: 2px solid DARKBLUE;
}

.hr{
    margin: 15px;
}

ul{
    padding-left: 10px !important;
}