
@media screen and (max-width: 450px) and (min-width: 0px){
    .job-post-area{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }
    .project-area{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        padding: 0 !important;
    }
    .project-header{
        /* background: #F0F0F0; */
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
        /* padding: 0px 0px 0px 10px; */
        transition: all .1s ease-in;
        /* cursor: pointer; */
        font-size: 16px;
        line-height: 1.4;
    }
    .search-results{
        /* box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%); */
        padding: 10px;
    }
    .search-area{
        border-bottom: 1px solid lightgray;
        padding: 0px 0px 10px 0px;
    }
    .search-area input{
        width: 100% !important;
    }
    .search-area .search-block{
        padding: 0;
    }
    .search-result-item{
        border-bottom: 1px solid lightgray;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        margin-top: 10px !important;
    }
    .search-result-item p{
        color: #75787d;
    }
    .search-result-item h4{
        color: #1f2836;
        font-weight: bold;
    }
    .search-results a{
        text-decoration: none;
    }
    .search-result-item:hover{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        border-bottom: 1px solid #DEDEDE;
        min-height: auto;
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        border-left: 5px solid #007fed;
        border-radius: 5px;
        transition: color .1s ease-out;
    }
    .product-price{
        color: orange;
        text-align: center;
    }
}


@media screen and (max-width: 575px) and (min-width: 451px){
    .job-post-area{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }
    .project-area{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        padding: 0 !important;
        width: 43% !important;
    }
    .search-project-area{
        width: 57% !important;
    }
    .project-header{
        /* background: #F0F0F0; */
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
        /* padding: 0px 0px 0px 10px; */
        transition: all .1s ease-in;
        /* cursor: pointer; */
        font-size: 16px;
        line-height: 1.4;
    }
    .search-results{
        /* box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%); */
        padding: 10px;
    }
    .search-area{
        border-bottom: 1px solid lightgray;
        padding: 0px 0px 10px 0px;
    }
    .search-area input{
        width: 100% !important;
    }
    .search-area .search-block{
        padding: 0;
    }
    .search-result-item{
        border-bottom: 1px solid lightgray;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        margin-top: 10px !important;
    }
    .search-result-item p{
        color: #75787d;
    }
    .search-result-item h4{
        color: #1f2836;
        font-weight: bold;
    }
    .search-results a{
        text-decoration: none;
    }
    .search-result-item:hover{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        border-bottom: 1px solid #DEDEDE;
        min-height: auto;
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        border-left: 5px solid #007fed;
        border-radius: 5px;
        transition: color .1s ease-out;
    }
    .product-price{
        color: orange;
        text-align: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .job-post-area{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }
    .project-area{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        padding: 0 !important;
        width: 43% !important;
    }
    .search-project-area{
        width: 57% !important;
    }
    .project-header{
        /* background: #F0F0F0; */
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
        /* padding: 0px 0px 0px 10px; */
        transition: all .1s ease-in;
        /* cursor: pointer; */
        font-size: 16px;
        line-height: 1.4;
    }
    .search-results{
        /* box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%); */
        padding: 10px;
    }
    .search-area{
        border-bottom: 1px solid lightgray;
        padding: 0px 0px 10px 0px;
    }
    .search-area input{
        width: 100% !important;
    }
    .search-area .search-block{
        padding: 0;
    }
    .search-result-item{
        border-bottom: 1px solid lightgray;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        margin-top: 10px !important;
    }
    .search-result-item p{
        color: #75787d;
    }
    .search-result-item h4{
        color: #1f2836;
        font-weight: bold;
    }
    .search-results a{
        text-decoration: none;
    }
    .search-result-item:hover{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        border-bottom: 1px solid #DEDEDE;
        min-height: auto;
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        border-left: 5px solid #007fed;
        border-radius: 5px;
        transition: color .1s ease-out;
    }
    .product-price{
        color: orange;
        text-align: center;
    }
}

@media screen and (min-width: 768px){
    .job-post-area{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px !important;
    }
    .project-area{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        padding: 0 !important;
        width: 30% !important;
    }
    .search-project-area{
        width: 70% !important;
    }
    .project-header{
        /* background: #F0F0F0; */
        border-bottom: 1px solid #DEDEDE;
        border-top: 1px solid #DEDEDE;
        /* padding: 0px 0px 0px 10px; */
        transition: all .1s ease-in;
        /* cursor: pointer; */
        font-size: 16px;
        line-height: 1.4;
    }
    .search-results{
        /* box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%); */
        padding: 10px;
    }
    .search-area{
        border-bottom: 1px solid lightgray;
        padding: 0px 0px 10px 0px;
    }
    .search-area input{
        width: 100% !important;
    }
    .search-area .search-block{
        padding: 0;
    }
    .search-result-item{
        border-bottom: 1px solid lightgray;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        margin-top: 10px !important;
    }
    .search-result-item p{
        color: #75787d;
    }
    .search-result-item h4{
        color: #1f2836;
        font-weight: bold;
    }
    .search-results a{
        text-decoration: none;
    }
    .search-result-item:hover{
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
        border-bottom: 1px solid #DEDEDE;
        min-height: auto;
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        border-left: 5px solid #007fed;
        border-radius: 5px;
        transition: color .1s ease-out;
    }
    .product-price{
        color: orange;
        text-align: center;
    }
}