.skills li span:hover{
    cursor: pointer;
}
.add-skill{
    margin: 0px 10px 0px 0px;
    border: 1px solid #DEDEDE;
    padding: 5px;
}
.add-skill span{
    margin-left: 5px;
    margin-top: 5px;
}
.skill-ul-postedjob{
    padding-left: 0px !important;
}
.add-skill-postedjob{
    border: 0px !important;
}
.badge-area{
    margin-right: 5px !important;
}