.skills li span:hover{
    cursor: pointer;
}
.add-skill{
    margin: 0px 10px 0px 0px;
    border: 1px solid #DEDEDE;
    padding: 5px;
}
.add-skill span{
    margin-left: 5px;
    margin-top: 5px;
}
.clear-skill button{
    background: #139ff0;
    border-color: #139ff0;
    color: #F7F7F7;
    text-shadow: 0 -1px transparent;
    border: none;
    padding: 5px 15px 5px 15px;
}