.budget{
    margin-top: 50px !important;
    padding: 0 !important;
}
@media screen and (max-width: 500px) and (min-width: 0px){
  .budget .rate{
      width: 100% !important;
  }  
}
@media screen and (min-width: 501px){
    .budget .rate{
        width: 30% !important;
        float: left;
    } 
    .budget .limit{
        width: 68% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .budget-row{
        padding: 0px !important;
    }
}
