.main-profile-block{
    max-width: 100% !important;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px !important;
    position: relative;
}
.cover-photo-btn{
    background: #f7f7f7;
    border-color: #bec0c2;
    color: #4d525b;
    text-shadow: 0 -1px transparent;
    padding: 5px 15px 5px 15px;
    border: none;
    margin-right: 10px;
    font-weight: 500;
    position: absolute;
    margin-top: -7px !important;
}

@media screen and (max-width: 1095px) and (min-width: 768px){
    .main-profile-block{
        max-width: 100% !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        padding: 110px 70px 110px 70px !important
    }
}

@media screen and (min-width: 1096px){
    .main-profile-block{
        max-width: 100% !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        padding: 110px 30px 110px 30px !important;
    }
}