/* .login-block-row{
    background-image: 
    linear-gradient(#00000078, #00000078),
    linear-gradient(#00000078, #00000078),
    url('../../images/login\ page\ bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
.login-img img{
    display: none;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}

.login-block .title{
    color: white;
    font-weight: bold !important;
    margin-top: 30px;
}
.login-block .title-description{
    color: white;
    margin-top: 30px;
}

.InputContainer .InputElement{
    color: white !important;
  }


@media screen and (max-width: 575px) and (min-width: 0px){
    .login-block-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .style-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 930px;
        min-height: 780px;
    }
    .btn-area{
        text-align: center;
    }
    .login-block{
        max-width: 1200px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
        
    }
    
    .find-work{
        font-size: 20px !important;
        margin-top: 8px;
        background: #736f75cc !important;
        width: 100% !important;
        font-weight: bold !important;
        color: white !important;
    }
    
    .hire-freelancer{
        font-size: 20px !important;
        margin-top: 8px;
        background: #f20091 !important;
        color: white !important;
        font-weight: bold !important;
        border-radius: 0 !important;
        width: 100% !important;
    }
    
    
    
}



@media screen and (max-width: 767px) and (min-width: 576px){
    .login-block-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 380px;
    }
    .style-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 930px;
        min-height: 780px;
    }
    .login-block{
        max-width: 1200px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }
    
    .find-work{
        font-size: 20px !important;
        margin-top: 8px;
        background: #736f75cc !important;
        width: 49% !important;
        font-weight: bold !important;
        color: white !important;
        margin-left: 2%;
    }
    
    .hire-freelancer{
        font-size: 20px !important;
        margin-top: 8px;
        background: #f20091 !important;
        color: white !important;
        font-weight: bold !important;
        border-radius: 0 !important;
        width: 49% !important;
    }
    
    
    
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .login-block-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 430px;
    }
    .style-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 930px;
        min-height: 780px;
    }
    .login-page{
        width: 75% !important;
    }
    .login-block{
        max-width: 1200px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }
    
    .find-work{
        font-size: 20px !important;
        margin-top: 8px;
        background: #736f75cc !important;
        font-weight: bold !important;
        color: white !important;
        margin-left: 2%;
    }
    
    .hire-freelancer{
        font-size: 20px !important;
        margin-top: 8px;
        background: #f20091 !important;
        color: white !important;
        font-weight: bold !important;
        border-radius: 0 !important;
    }
    
    
    
}

@media screen and (min-width: 992px){
    .login-page{
        width: 50% !important;
        padding-left: 40px !important;
    }
    .login-block{
        max-width: 100% !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
    }
    .login-block-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 930px;
        min-height: 500px;        
    }
    .style-row{
        background-image: 
        linear-gradient(#00000078, #00000078),
        linear-gradient(#00000078, #00000078),
        url('../../images/login\ page\ bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 930px;
        min-height: 780px;
    }
    .find-work{
        font-size: 20px !important;
        margin-top: 8px;
        background: #736f75cc !important;
        font-weight: bold !important;
        color: white !important;
        margin-left: 2%;
    }
    
    .hire-freelancer{
        font-size: 20px !important;
        margin-top: 8px;
        background: #f20091 !important;
        color: white !important;
        font-weight: bold !important;
        border-radius: 0 !important;
    }
    
    
    
}