.what-type-of-contest-run-area{
    margin-top: 30px !important;
}
.contest-run-title{
    margin-left: 0px !important;
}
.guaranteed-contest{
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 4px 10px 0 rgb(0 0 0 / 16%);
    padding: 20px;
    cursor: pointer;
    margin-top: 20px !important;
    width: 49% !important;
}
.basic-contest{
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 4px 10px 0 rgb(0 0 0 / 16%);
    padding: 20px;
    cursor: pointer;
    margin-top: 20px !important;
    width: 49% !important;
    margin-left: 2% !important;
}

.guaranteed-contest:hover,.basic-contest:hover{
    background-color: #f0f0f0;
}

@media screen and (max-width: 500px) and (min-width: 0px){
    .what-type-of-contest-run-area{
        margin-top: 30px !important;
    }
    .contest-run-title{
        margin-left: 0px !important;
    }
    .guaranteed-contest{
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 4px 10px 0 rgb(0 0 0 / 16%);
        padding: 20px;
        cursor: pointer;
        margin-top: 20px !important;
        width: 100% !important;
    }
    .basic-contest{
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 4px 10px 0 rgb(0 0 0 / 16%);
        padding: 20px;
        cursor: pointer;
        margin-top: 20px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }
    
    .guaranteed-contest:hover,.basic-contest:hover{
        background-color: #f0f0f0;
    }
}