.add-experience-block{
    background: white;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    margin-top: 20px;
}

.single-add-block{
    padding: 20px 20px 0px 15px
}
.single-row-block{
    padding: 0px 20px 10px 15px;
}
@media screen and (max-width: 338px) and (min-width: 0px){
    .experience{
        width: 100% !important;
    }
    .add-experience{
        display: none;
    }
}

@media screen and (max-width: 575px) and (min-width: 339px){
    .experience{
        width: 50% !important;
    }
    .add-experience{
        width: 50% !important;
        display: block;
    }
}