

@media screen and (max-width: 450px) and (min-width: 0px){
    .juNVsR{
        margin: 0 !important;
    }
    .cGKbZh{
        width: 14px !important;
        height: 28px !important;
        min-width: 28px !important;
        line-height: 28px !important;
    }
    .ehkxHv{
        width: 14px !important;
        height: 28px !important;
        min-width: 28px !important;
        line-height: 28px !important;
    }
}